    <div class="navbar bg-base-100">
        <div class="navbar-start">
          <details class="dropdown">
            <summary class="btn btn-ghost list-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16" />
              </svg>
            </summary>
            <ul
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
              <li><a href="./index.html">Home</a></li>
              <li><a href="./consulting.html">Consulting</a></li>
              <li><a href="./about.html">About</a></li>
              <li><a href="./onestream.html">OneStream</a></li>
              <li><a href="./blog.html">Blog</a></li>
              <li><a href="./contact.html" class="text-primary font-semibold">Initial Assessment</a></li>
            </ul>
          </details>
          <a href="./index.html" id="FCS" class="btn btn-ghost text-xl"><img class="max-w-10" src="images/Clear Vision.png" alt="Full Clear Solutions logo" width="512" height="512" loading="eager" decoding="async" />Full Clear Solutions</a>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./consulting.html">Consulting</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./onestream.html">OneStream</a></li>
            <li><a href="./blog.html">Blog</a></li>
          </ul>
        </div>

        <div class="navbar-end">
          <div class="dropdown dropdown-end">
              <div tabindex="0" role="button" class="btn btn-ghost btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                </svg>
              </div>
              <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl">
                <li>
                  <input
                  type="radio"
                  name="theme-dropdown"
                  class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                  aria-label="Default"
                  value="autumn" />
              </li>
              <li>
                <input
                  type="radio"
                  name="theme-dropdown"
                  class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                  aria-label="Light"
                  value="nord" />
              </li>
              <li>
                <input
                  type="radio"
                  name="theme-dropdown"
                  class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                  aria-label="Dark"
                  value="business" />
              </li>
              </ul>
            </div>
          <a id="freecostproposal" class="btn btn-primary ml-2" href="./contact.html">Initial Assessment</a>
      </div>
    </div>
